<script
  setup
  lang="ts"
>
  import { useUserStore } from '@/stores/user'
  import { useRouter } from 'vue-router'
  import GitHubData from './GitHubData.vue'

  const userStore = useUserStore()

  /* Router Navigation */

  const router = useRouter()

  const navigateHome = () => {
    userStore.clearUser()
    router.push('/')  
  }
</script>

<template>
  <Transition
    name="fade"
    mode="out-in"
    appear
  >
    <div class="
      mx-auto mt-8 p-8 max-w-2xl
      border border-solid border-green-400 rounded-3xl shadow-2xl
    ">
      <h2 class="pb-8 text-green-400">Hello {{ userStore.firstName }}!</h2>

      <p>
        <span class="font-bold">Name:</span>
        {{ userStore.firstName }}
        {{ userStore.lastName }}
      </p>
      
      <p>
        <span class="font-bold">Username:</span>
        {{ userStore.username }}
      </p>

      <p>
        <span class="font-bold">Email:</span>
        {{ userStore.email }}
      </p>

      <Suspense>
        <template #default>
          <Transition
            name="fade"
            mode="out-in"
            appear
          >
            <GitHubData />
          </Transition>
        </template>

        <template #fallback>
          <p class="font-bold text-green-400">
            Loading GitHub data...
          </p>
        </template>
      </Suspense>

      <a
        class="font-bold text-green-400"
        href="#"
        qa-ref="take-me-home"
        @click.prevent="navigateHome"
      >
        Take Me Home
      </a>
    </div>
  </Transition>
</template>
